@import '~antd/dist/antd.css';

div[id="root"] {
  height: 100%;
}

.ant-layout-header {
  background: white;
  box-shadow: 0px 0 6px rgba(0, 0, 0, 0.2);
}

.ant-layout-content {
  margin: 15px;
  /*border-radius: 10px;*/
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
  /*background-color: white;*/
  /*padding: 10px;*/
}

.ant-layout-has-sider {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
